*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
#/bin
/build_dir
!/build_dir/target-mips_24kc_musl/hostapd-full-internal/*
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/overlay
/package/feeds
/package/openwrt-packages
/toolchain
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
